@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.text-secondary {
  color: #2fdce1;
}

.text-primary {
  color: #333;
}

.border-secondary {
  border-color: #2fdce1;
}

.bg-primary {
  background-color: #333;
}

.bg-secondary {
  background-color: #2fdce1;
}

.post-shadow {
  filter: drop-shadow(0 0 0.15rem rgb(228 228 231));
}

.link-styling {
  color: #2fdce1;
}

.link-styling:hover {
  text-decoration: underline;
}

.post-shadow:hover {
  filter: drop-shadow(0 0 0.2rem #2fdce1);
}

.post-shadow:active {
  animation: blue-luminate 0.5s ease-in-out forwards alternate;
}


.blue-shadow {
  filter: drop-shadow(0 0 0.1rem #2fdce1);
}

.blue-shadow:hover {
  filter: drop-shadow(0 0 0.2rem #2fdce1);
}

.button-hover {
  background-color: black;
  filter: drop-shadow(0 0 0.15rem #2fdce1);
}

.button-hover:hover {
  background-color: #333;
  filter: drop-shadow(0 0 0.2rem #32f6fd);
}

.button-hover:active {
  background-color: #333;
  animation: button-luminate 0.2s ease-in-out forwards alternate;
}

.max-w-200px {
  max-width: 200px;
}

.w-120px {
  width: 120px;
}

.min-h-50px {
  min-height: 50px;
}

.max-w-900px {
  max-width: 900px;
}

.w-95 {
  width: 95%
}

.max-w-250px {
  max-width: 250px;
}

.bg-mandelbrot {
  background-image: url('../public/assets/mandelbrot/mandelbrot5.PNG');
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: 50% 75%;
}

.border-p {
  border-color: purple
}

.centered-button {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1rem;
}

.explore-effects {
  animation: explore-unluminate 0.3s ease-in-out forwards alternate;
}

.explore-effects:hover {
  animation: explore-luminate 0.3s ease-in-out forwards alternate;
}

.explore-effects:active {
  color: #25f8ff
}

.post-title {
  color: rgb(243 244 246)
}

.post-title:hover {
  color: #2fdce1
}

.phaseImageContainer {
  max-width: 500px;
  max-height: 200px
}

.nav-border {
  border-bottom-width: 0.2px;
  border-bottom-style: solid;
  border-bottom-color: #2fdbe1d6;
  animation: blue-unluminate 0.3s ease-in-out forwards alternate;
}

.nav-border:hover {
  animation: blue-luminate 0.25s ease-in-out forwards alternate;
}

.font-arial {
  font-family: Arial, sans-serif
}

.font-helvetica {
  font-family: Helvetica, sans-serif
}

.font-roboto {
  font-family: Roboto, sans-serif
}

.py-30 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

@keyframes blue-luminate {
  from {
    filter: drop-shadow(0 0 0.4rem #2fdce1);
  }
  to {
    filter: drop-shadow(0 0 0.7rem #25f8ff);
  }
}

@keyframes blue-unluminate {
  from {
    filter: drop-shadow(0 0 0.7rem #25f8ff);
  }
  to {
    filter: drop-shadow(0 0 0.4rem #2fdce1);
  }
}

@keyframes button-luminate {
  from {
    filter: drop-shadow(0 0 0.2rem #2fdce1);
  }
  to {
    filter: drop-shadow(0 0 0.5rem #25f8ff);
  }
}

@keyframes explore-luminate {
  from {
    filter: drop-shadow(0 0 0.1rem #2fdce1);
    background-color: rgba(47, 220, 225, 1);
    color: black
  }
  to {
    filter: drop-shadow(0 0 0.8rem #25f8ff);
    background-color: black;
    color: #2fdce1
  }
}

@keyframes explore-unluminate {
  from {
    filter: drop-shadow(0 0 0.8rem #25f8ff);
    background-color: black;
    color: #2fdce1
  }
  to {
    filter: drop-shadow(0 0 0.1rem #2fdce1);
    background-color: rgba(47, 220, 225, 1);
    color: black
  }
}