@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.text-secondary {
  color: #2fdce1;
}

.border-secondary {
  border-color: #2fdce1;
}

.bg-primary {
  background-color: #333;
}

.bg-secondary {
  background-color: #2fdce1;
}

.white-shadow {
  filter: drop-shadow(0 0 0.5rem white);
}

.post-shadow {
  filter: drop-shadow(0 0 0.2rem white);
}


.blue-shadow {
  filter: drop-shadow(0 0 0.1rem #2fdce1);
}

.blue-shadow:hover {
  filter: drop-shadow(0 0 0.2rem #2fdce1);
}

.button-hover {
  background-color: black;
  filter: drop-shadow(0 0 0.15rem #2fdce1);
}

.button-hover:hover {
  background-color: #333;
  filter: drop-shadow(0 0 0.2rem #2fdce1);
}

.button-hover:active {
  background-color: #333;
  filter: drop-shadow(0 0 0.5rem #2fdce1);
}

.max-w-200px {
  max-width: 200px;
}

.max-w-250px {
  max-width: 250px;
}

.bg-mandelbrot {
  background-image: url('../assets/mandelbrot/mandelbrot5.PNG');
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: 50% 50%;
}

.centered-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.explore-effects {
  background-color: rgba(47, 220, 225, 0.9);
  filter: drop-shadow(0 0 0.1rem #2fdce1);
}

.explore-effects:hover {
  background-color: rgba(47, 220, 225, 0.5);
  filter: drop-shadow(0 0 0.2rem #2fdce1);
}

.explore-effects:active {
  background-color: rgba(47, 220, 225, 0.9);
  filter: drop-shadow(0 0 0.5rem #2fdce1);
}
